body {
  margin: 10px;
}

.scrolltable {
  border: 1px solid #333333;

  //スクロールさせるエリアは高さ400pxとする。overflow-x:auto;overflow-y:auto;で必要に応じてスクロールバー
  height: 400px;
  overflow-x: auto;
  overflow-y: auto;

  table {

    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;

    //横スクロールの場合はtableの幅を指定する
    width: 1450px;

    th,
    td {
      padding: 0.5rem;
    }

    //隣接するborderが重ならないように
    th,
    td {
      border-right: 1px solid #008800;
      border-bottom: 1px solid #008800;
      padding: 0.5rem;

      &:first-of-type {
        border-left: 1px solid #008800;
      }
    }

    thead th {
      border-top: 1px solid #008800;
    }


    //タイトル行1行固定
    //タイトル行の左1列目（縦横スクロールしても動かない部分）
    thead th:first-of-type {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10; //縦横スクロールしても隠れないように
      background: #ff99cc; //ピンク
    }

    //タイトル行の左1列目以外
    thead th:not(:first-of-type) {
      position: sticky;
      top: 0;
      background: #99ccff; //青
    }

    //左1列固定（タイトル行以外）
    td:first-of-type {
      position: sticky;
      left: 0;
      background: #ffcc99; //ベージュ
    }
  }
}