body {
  margin: 10px;
}

.scrolltable {
  border: 1px solid #333333;

  //スクロールさせるエリアは高さ400pxとする。overflow-x:auto;で必要に応じてスクロールバー
  height: 400px;
  overflow-x: auto;

  table {

    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;

    //横スクロールの場合はtableの幅を指定する（左1列目の幅を加算）
    width: calc(1450px + 40px);

    th,
    td {
      padding: 0.5rem;
    }

    //隣接するborderが重ならないように
    th,
    td {
      border-right: 1px solid #008800;
      border-bottom: 1px solid #008800;

      &:first-of-type {
        border-left: 1px solid #008800;
      }
    }

    thead th {
      border-top: 1px solid #008800;
    }

    //左1列固定
    th:first-of-type,
    td:first-of-type {
      position: sticky;
      left: 0;
      width: 40px; //1列目の幅を指定
      background: #ffcc99; //ベージュ
    }

    //左2列目固定
    th:nth-of-type(2),
    td:nth-of-type(2) {
      position: sticky;
      left: 40px; //1列目の幅と同じだけ
      background: #ffff99; //黄色
    }
  }
}